/target
/classes
/checkouts
/bin
/out
/repl
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.idea
.DS_Store

/web/js/bru_3
/web/js/cljs
/web/js/clojure
/web/js/constants_table.js
/web/js/logo.js
/web/js/quil
/web/js/thi
